:root {
    display: block;
    width: 100%;
    height: auto;
}

:host(:not([entity-id])) {
    background-color: red;
}

form {
    display: flex;
    gap: 32px;
    flex-flow: column nowrap;
    margin: 24px 0;
}

label {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

label span {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(14px, 3px) scale(1.2);
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface-variant);
    padding: 0 4px;
    font-size: 12px;
    opacity: 0;
    border-radius: 6px;
}

input:not(:placeholder-shown)+span {
    transform: translate(14px, -7px);
    opacity: 1;
    transition: transform 0.2s ease-in-out;
}

input {
    height: 56px;
    box-sizing: border-box;
    border: 1px solid var(--md-sys-color-outline);
    border-radius: 6px;
    padding: 0 16px;
    font-size: 16px;
    font-weight: 400;
    color: var(--md-sys-color-on-surface-variant);
    background-color: var(--md-sys-color-surface);
    outline: none;
    box-sizing: border-box;

    &:hover {
        color: var(--md-sys-color-on-surface);
        border-color: var(--md-sys-color-on-surface);
    }

    &:focus {
        color: var(--md-sys-color-on-surface);
        border-color: var(--md-sys-color-primary);
        outline: 2px solid var(--md-sys-color-primary);
    }
}
