@import url("vars.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@view-transition {
	navigation: auto;
}

body,
input,
textarea,
button {
	font-family: "Noto Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

body {
	background-color: var(--background-color);
	margin: 0;
}

main {
	margin: 1rem;
}

app-header {
	position: sticky;
	top: 0;
	z-index: 1;
}

menu {
	padding: 16px;
	margin: 0;
	position: absolute;
	display: flex;
	bottom: 0;
	height: 48px;
	left: 0;
	right: 0;
	z-index: 1;
	background-color: var(--background-color);
}

svg {
	fill: currentColor;
}