:root {
	--background-color: #fafafa;

	--green: #a8e6cf;
	--yellow: #fdffab;
	--peach: #ffd3b6;
	--red: #ffaaa5;

	--md-sys-color-primary: #6750A4;
	--md-sys-color-surface: #fef7ff;
	--md-sys-color-surface-container: #F3EDF7;
	--md-sys-color-secondary-container: #e8def8;
	--md-sys-color-on-surface: #1d1b20;
	--md-sys-color-surface-container: #f3edf7;
	--md-sys-color-on-surface-variant: #49454f;
	--md-sys-color-primary-container: #eaddff;
	--md-sys-color-outline: #79747E;
	--md-sys-color-on-primary: #ffffff;
}